<main class="main">
  <app-home></app-home>
  <app-infinite-counter></app-infinite-counter>
  <app-slider></app-slider>

  <p>Hoje é um dia mais do que especial, porque é o dia em que o mundo foi presenteado com você. Há 11 anos, nossa amizade começou, e mal sabíamos que esse laço se tornaria a história mais bonita da minha vida. Você é a mulher mais incrível que já conheci, linda por dentro e por fora, uma mãe maravilhosa para o nosso filho e o amor da minha vida. <br><br>

    Que esse novo ciclo traga ainda mais felicidade, sonhos realizados e momentos inesquecíveis ao nosso lado. Obrigado por ser quem você é e por compartilhar essa caminhada comigo. <br> Te amo infinitamente minha Pandinha ! 🐼❤️✨</p> <br><br>


    <h2>Ass: Juan </h2>

    <button (click)="toggleMusic()">
      {{ isPlaying ? 'Pausar' : 'Tocar' }} Música
    </button>
</main>

<router-outlet />
